httplib2 >= 0.7.4
regex <= 2016.7.21
requests == 2.18.4
simplejson <= 3.13.2
pyproj >=1.9.5,<=1.9.5.1
OWSLib == 0.16.0
Shapely == 1.5.17
Jinja2 == 2.10
awesome-slugify == 1.6.5
python-dateutil == 2.7.3
pytz==2018.3
pygdal == 2.2.1.3
